.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

  &:focus {
    background-color: $color__background-screen;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: $color__text-screen;
    display: block;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */

    @include fontSize(0.875);
  }
}

/* Do not show the outline on the skip link target. */
#content[tabindex='-1']:focus {
  outline: 0;
}

/* Animations */
.hover-grow-sm:hover {
  transition: all 0.2s;
  transform: scale(1.02);
}
.hover-grow-md:hover {
  transition: all 0.2s;
  transform: scale(1.05);
}

.clear::before,
.clear::after,
.entry-content::before,
.entry-content::after,
.comment-content::before,
.comment-content::after,
.site-header::before,
.site-header::after,
.site-content::before,
.site-content::after,
.site-footer::before,
.site-footer::after {
  @include clearfix;
}

.clear::after,
.entry-content::after,
.comment-content::after,
.site-header::after,
.site-content::after,
.site-footer::after {
  @include clearfix-after;
}

.pseudo-black-overlay {
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000b5;
  }
}

.header-underline {
  .bmcb-heading__title,
  .bmcb-text__title,
  .bmcb-blurb__title,
  &[class*='title'] {
    @include underlineHeader();
  }
  &.text-light {
    .bmcb-heading__title::after,
    .bmcb-blurb__title::after {
      background: $color__white;
    }
  }
}

.header-font {
  font-family: $font__heading;
}

@include media-breakpoint-down(md) {
  .sm\:hide {
    display: none;
  }
}
