.btn,
.wp-block-button__link,
#page #main-content .slider-btn a,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  // @extend .is-pill;
  font-family: $btn__font-family;
  cursor: pointer;
  background: $btn__bg;
  text-transform: $btn__text-transform;
  color: $btn__color;
  padding: $btn__padding-y $btn__padding-x;
  border: $btn__border-width $btn__border-style $btn__border-color;
  @include fontSize($btn__font-size);
  line-height: $btn__line-height;
  border-radius: $btn__border-radius;
  transition: all 0.3s;
  &:hover {
    background: $btn__bg-hover;
    color: $btn__color-hover;
    padding: $btn__padding-y $btn__padding-x;
    border-color: $btn__border-color-hover;
    filter: hue-rotate(10deg);
  }
  &:not(.has-icon-after)::after {
    display: none;
  }

  &:visited {
    color: $btn__color;
  }

  &:active,
  &:focus {
    color: $btn__color;
    border-color: $btn__border-color;
  }
}

.btn--sm {
  @include button-size(
    $btn__padding-y-sm,
    $btn__padding-x-sm,
    $btn__font-size-sm
  );
}

.btn--lg {
  @include button-size(
    $btn__padding-y-lg,
    $btn__padding-x-lg,
    $btn__font-size-lg
  );
}

.btn > a {
  color: inherit;
  background: inherit;
}

.btn--outlined {
  border-width: 2px;
  border-style: solid;
  &:not(:hover) {
    background: transparent !important;
  }
  &:hover {
    color: white !important;
  }
}

.blurb-btn--link .bmcb-blurb__button-wrapper .btn,
.btn--unstyled {
  background: none;
  border: 0;
  padding: 0;
  &:hover {
    padding: 0;
  }
}

.btn--has-arrow {
  position: relative;
  align-items: center;
  &::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f054';
    font-size: 0.5em;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    padding-left: 0.3em;
  }
}

.btn--has-underline {
  position: relative;
  display: inline-flex;
  &::before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    background: $color__link;
    bottom: 0rem;
    padding-left: 0.3em;
  }
}

.blurb-btn--link .bmcb-blurb__button-wrapper .btn {
  color: $color__link;
  display: inline-flex;
  padding-bottom: 0.4rem;
  &:hover {
    color: $color__link-hover;
    padding-bottom: 0.4rem;
  }
  @extend .btn--has-arrow;
  @extend .btn--has-underline;
}
