// Font Awesome 5 Free

$fa-font-path: '../../public/fonts/icons/';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/brands';

.fa-social-icons {
  .fa-social-icon a {
    color: $color__black;
    &:hover {
      color: $color__white;
    }
  }
}
