$btn__font-family: var(--font-buttons), var(--font-main), sans-serif !default;
$btn__line-height: 1rem !default;
$btn__text-transform: none;

$btn__padding-y: 1.2rem !default;
$btn__padding-x: 3rem !default;
$btn__font-size: 16 !default; // Pixels without the PX

$btn__padding-y-sm: $btn__padding-y !default;
$btn__padding-x-sm: $btn__padding-x !default;
$btn__font-size-sm: $btn__font-size !default;

$btn__padding-y-lg: 1rem !default;
$btn__padding-x-lg: 4rem !default;
$btn__font-size-lg: $btn__font-size !default;

$btn__border-color: $border-color !default;
$btn__border-color-hover: $border-color !default;
$btn__border-width: 1px !default;
$btn__border-style: solid !default;

$btn__bg: $color__primary !default;
$btn__bg-hover: $color__primary !default;

$btn__color: $color__white !default;
$btn__color-hover: $btn__color !default;

$btn__border-radius: $global_radius !default;
$btn__border-radius-sm: $btn__border-radius !default;
$btn__border-radius-lg: $btn__border-radius-sm !default;
