$containerWidth: 1280;
$sectionPadding: 8rem !default;

// Gap between columns in rem
$col_gap: 6 !default;
$col_gap_lg: $col_gap !default;
$col_gap_xl: $col_gap * 6 !default;

// Woocommerce
$columns: (
  1: 100%,
  2: 50%,
  3: 33.33%,
  4: 25%,
  5: 20%,
  6: 16.66%,
  7: 14.28%,
  8: 12.5%,
  9: 11.11%
);
$columns__margin: 3.8%;

$box_model: (
  'p': 'padding',
  'pt': 'padding-top',
  'pr': 'padding-right',
  'pb': 'padding-bottom',
  'pl': 'padding-left',
  'm': 'margin',
  'mt': 'margin-top',
  'mr': 'margin-right',
  'mb': 'margin-bottom',
  'ml': 'margin-left'
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 980px,
  xl: 1170px
) !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rfs: true !default;
$enable-negative-margins: false !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: 1rem,
  2: 2rem,
  3: 3rem,
  4: 4rem,
  6: 6rem,
  8: 8rem,
  12: 10rem,
  16: 16rem,
  24: 24rem
) !default;

$negative-spacers: if(
  $enable-negative-margins,
  negativify-map($spacers),
  null
) !default;
