#page {
  input[type='text'],
  input[type='email'],
  input[type='url'],
  input[type='password'],
  input[type='search'],
  input[type='number'],
  input[type='tel'],
  input[type='range'],
  input[type='date'],
  input[type='month'],
  input[type='week'],
  input[type='time'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='color'],
  textarea {
    border: 0;
    font-size: $btn__font-size;
    color: $color__text-input;
    padding: 1rem 2rem;
    &:focus {
      color: $color__text-input-focus;
    }
    &.is-large {
      font-size: 2rem;
      min-width: 350px;
      font-family: $font__main;
      padding: 1.4rem 4rem 1.4rem 2rem;
    }
  }

  .gform_wrapper .top_label .gfield_label,
  .gform_wrapper ul.gfield_radio li label,
  ul.gfield_checkbox li label {
    color: $color__text-main;
    font-weight: normal;
  }

  label.has-icon {
    position: relative;
    & i {
      position: absolute;
      width: 40px;
      height: 40px;
      font-size: 2rem;
      background: #e41f1f;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      bottom: 0;
      margin: auto 0;
      right: 1rem;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .ginput_container
  input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']).large,
  textarea.large {  
    font-size: 2rem;
    font-family: $font__main;
    padding: 1.4rem 2rem;
    border: solid 1px #cbcbcb;
    min-height: unset;
    line-height: 1.5;
  }

  select {
    border: 1px solid $color__quinary;
  }
}

