@import "fields";

.search-form {
	position: relative;
	width: 100%;
	max-width: 300px;
	.search-field {
		width: 100%;
	}
	.search-submit {
		border: 0;
		background: none;
		color: #e41f1f;
		padding: 0;
		position: absolute;
		right: 1.4rem;
		top: 0;
		bottom: 0;
	}
}

#page .gform_wrapper {
	margin-top: 0;
}
