<template>
  <div class="vue-gform-wrapper">
    <LoadingSpinner v-if="loading" />
    <div v-show="!loading">
      <div id="gform-area"></div>
    </div>
  </div>
</template>

<script>
let ajax_url = global_vars.admin_ajax_url;

export default {
  name: 'g-form',
  props: {
    form_id: {
      type: [String, Number]
    }
  },
  data: function() {
    return {
      form: '',
      loading: false
    };
  },
  methods: {
    async getForm() {
      let vm = this;
      const formBTN = document.getElementById(
        `gf_button_get_form_${vm.form_id}`
      );

      formBTN.addEventListener('click', function(el) {
        const button = el.target;
        const outputEl = document.getElementById('gform-area');

        fetch(
          `${ajax_url}?action=gf_button_get_form&form_id=${vm.form_id}`
        ).then(async res => {
          content = await res.json();
          outputEl.innerHTML = content;
          if (window['gformInitDatepicker']) {
            gformInitDatepicker();
          }
        });
      });

      formBTN.click();

      if (window['gformInitDatepicker']) {
        gformInitDatepicker();
      }
      this.loading = false;
    }
  },
  mounted() {
    this.loading = true;
    this.getForm();
  }
};
</script>
