<template>
  <div
    v-if="newsPosts.length"
    class="news-posts-grid grid grid-4-8 grid-sm-1 gap-6"
  >
    <div class="col-lg-4">
      <h3 class="news-module-heading">News</h3>
      <ul
        v-if="activeIndex !== 'undefined' && !inlineNavBullets"
        @mouseenter="paused = true"
        @mouseleave="paused = false"
        class="news-posts-list"
      >
        <li
          v-for="(news, index) in newsPosts"
          :key="`title-${news.id}`"
          class="news-post"
          :class="[activeIndex === index ? 'active' : '']"
        >
          <a
            @click.prevent="goToIndex(index)"
            href="#"
            :title="news.title.rendered"
            ><h3 class="news-post__title mb-1">
              {{ truncate(news.title.rendered, 40, '...') }}
            </h3></a
          >
          <a class="btn btn-unstyled news-post__link" :href="news.link"
            >Read More <i class="has-icon icon-arrow-right pl-1"></i
          ></a>
        </li>
      </ul>
    </div>

    <div
      :style="
        combinedHeights && inlineNavBullets
          ? `height: ${combinedHeights}px`
          : ''
      "
      class="col-lg-8 news-post__slide-wrapper h-full relative"
    >
      <div
        class="w-full"
        v-for="(news, index) in newsPosts"
        :key="'image-' + news.id"
      >
        <transition name="fade">
          <div v-if="activeIndex === index">
            <img
              ref="slideImage"
              data-object-fit="cover"
              class="news-post__image"
              :src="getImageURL(index)"
              alt="News Image"
            />
            <div ref="mobileContent" v-if="inlineNavBullets" class="news-post">
              <a
                @click.prevent="goToIndex(index)"
                href="#"
                :title="news.title.rendered"
                ><h3 class="news-post__title mb-1">
                  {{ truncate(news.title.rendered, 40, '...') }}
                </h3></a
              >
              <a class="btn btn-unstyled news-post__link" :href="news.link"
                >Read More <i class="has-icon icon-arrow-right pl-1"></i
              ></a>
            </div>
          </div>
        </transition>
      </div>
      <ul
        v-if="inlineNavBullets"
        @mouseenter="paused = true"
        @mouseleave="paused = false"
        class="news-posts-list--bullets"
        :style="
          mobileContentHeight ? `bottom: ${mobileContentHeight + 30}px` : ''
        "
      >
        <li
          v-for="(news, index) in newsPosts"
          :key="`title-bullet-${news.id}`"
          class="news-posts-list--bullet"
          :class="[activeIndex === index ? 'active' : '']"
        >
          <a
            @click.prevent="goToIndex(index)"
            href="#"
            :title="news.title.rendered"
            ><i class="has-icon icon-circle"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { truncate } from '../../util/textHelpers';
import { isAbove } from '../../util/breakpoints';
import debounce from '../../util/debounce';

export default {
  name: 'news-module',
  data: function() {
    return {
      inlineNavBullets: false,
      activeIndex: 0,
      paused: false,
      newsPosts: [],
      time: 5000,
      activeInterval: '',
      imageHeight: '',
      mobileContentHeight: ''
    };
  },
  computed: {
    combinedHeights() {
      return this.mobileContentHeight + this.imageHeight;
    }
  },
  methods: {
    async getPosts() {
      let endpoint = `${wp_global_vars.apiBase}/posts?categories=3&per_page=3&_embed`;
      let res = await fetch(endpoint);
      this.newsPosts = await res.json();
      if (this.inlineNavBullets) {
        this.setImageHeight();
        this.setContentHeight();
      }
    },

    getImageURL(index) {
      if (
        this.newsPosts[index]._embedded['wp:featuredmedia']['0'].media_details
      ) {
        return this.newsPosts[index]._embedded['wp:featuredmedia']['0']
          .media_details.sizes['article-grid'].source_url;
      } else {
        return 'https://placehold.it/1000x1000';
      }
    },

    goToIndex(index) {
      this.activeIndex = index;
      this.time = 5000;
      if (this.inlineNavBullets) {
        this.setContentHeight();
      }
    },

    setImageHeight() {
      this.$nextTick(() => {
        this.imageHeight =
          this.$refs.slideImage && this.$refs.slideImage[0].offsetHeight;
      });
    },

    setContentHeight() {
      this.$nextTick(() => {
        this.mobileContentHeight =
          this.$refs.mobileContent && this.$refs.mobileContent[0].offsetHeight;
      });
    },

    next() {
      let nextIndex = this.activeIndex + 1;
      if (!this.newsPosts[nextIndex]) {
        nextIndex = 0;
      }
      this.goToIndex(nextIndex);
    },

    startInterval() {
      this.activeInterval = setInterval(() => {
        if (!this.paused) this.time -= this.time;
        if (this.time <= 0) this.next();
      }, this.time);
      // Clear the interval if the component
      // is destroyed to prevent memory leaks.
    },
    truncate
  },

  mounted() {
    const intersectionObserver = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach(el => {
          if (el.isIntersecting) {
            // When news module is in view
            if (!this.newsPosts.length) {
              // If there are no posts, fetch some
              this.getPosts();
            }
            // Trigger the autoplay to start
            this.startInterval();
            // observer.unobserve(el.target);
          } else {
            // When not in view, stop autoplay and keep current state
            clearInterval(this.activeInterval);
          }
        });
      }
    );

    const newsModule = document.getElementById('global-news-module');

    if (newsModule) {
      intersectionObserver.observe(newsModule);
    }

    if (!isAbove.md.matches) {
      this.inlineNavBullets = true;
    }

    window.addEventListener(
      'resize',
      debounce(() => {
        if (!isAbove.md.matches) {
          this.inlineNavBullets = true;
        } else {
          this.inlineNavBullets = false;
        }

        if (this.inlineNavBullets) {
          this.setImageHeight();
          this.setContentHeight();
        }
      }),
      50,
      true
    );
  },
  destroyed() {
    clearInterval(this.activeInterval);
  }
};
</script>

<style lang="scss" scoped>
$slideheightSm: 40;
$slideheightLg: 60;

.news-post__slide-wrapper,
.news-post__image {
  min-height: $slideheightSm * 1rem;
  @include media-breakpoint-up(lg) {
    height: $slideheightLg * 1rem;
  }
}

.news-module-heading {
  font-size: 4rem;
  letter-spacing: 0.98px;
  color: $color__primary;
  margin-bottom: 0;
  @include media-breakpoint-up(md) {
    padding-bottom: 2.5rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 8rem;
  }
}
.news-posts-list {
  @include media-breakpoint-up(lg) {
    margin: 0 -1.4rem;
  }
  padding: 0;
}
.news-post {
  padding: 1.4rem;
  border-radius: 1rem;
  transition: all 0.4s;
  a,
  a:hover,
  a:focus {
    color: $color__text-main;
  }
}
.news-post + .news-post {
  margin-top: 2rem;
}
.news-post.active {
  background: rgba(117, 118, 122, 0.15);
}
.news-post__title {
  color: $color__text-main;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 3rem;
}

.news-post__link {
  font-weight: 300;
  font-size: 2rem;
}

.news-post__slide-wrapper {
  overflow: hidden;
  .news-post {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  div {
    width: 100%;
  }
}

.news-post__image {
  top: 0;
  // position: absolute;
  width: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}

.news-posts-list--bullets {
  display: flex;
  position: absolute;
  justify-content: center;
  z-index: 100;
  bottom: 30px;
  margin: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.news-posts-list--bullet {
  margin: 0 0.8rem;
  a {
    color: $color__quinary;
    font-size: 2.8rem;
  }
  &.active a {
    color: $color__primary;
  }
}
</style>
