// Utilities
$utilities: () !default;

// Add any custom tils you need like the following syntax. Google "Bootstrap 5 Utility API" for more examples.
$utilities: map-merge(
  (
    'display': (
      responsive: true,
      print: true,
      property: display,
      class: d,
      values: none inline inline-block inline-flex block table table-row
        table-cell
    ),
    'z-index': (
      responsive: false,
      print: false,
      property: z-index,
      class: z,
      values: (
        goku: 9000,
        top: 1000,
        mid: 500,
        low: 100,
        bottom: 1,
        behind: -1
      )
    ),
    'whitespace': (
      responsive: false,
      print: false,
      property: white-space,
      class: whitespace,
      values: nowrap
    ),
    'width': (
      responsive: true,
      print: false,
      important: true,
      property: width,
      class: w,
      values: auto
    )
  ),
  $utilities
);

// @import "name";
