h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__heading;
  color: $color__text-headings;
  font-weight: normal;
  clear: both;
  line-height: $heading__line-height;
  margin: 0;
  margin-bottom: 2.8rem;
}

.text-light {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color__white;
    text-shadow: 1px 1px 1px rgba(black, 0.3);
  }
}

.header-callout-text {
  font-size: 8.5rem;
  line-height: 8rem;
  color: $color__primary;
}

h1 {
  @include fontSize(41);
}

h2 {
  @include fontSize(40);
}

h3 {
  font-family: $font__main;
  font-weight: bold;
  font-size: 2.2rem;
}

h4 {
  font-size: 2.6rem;
  margin-bottom: 1.8rem;
}

.header-font h3,
.header-font h4,
.header-font h5 {
  font-family: $font__heading;
}

h1 span,
h2 span,
h3 span,
h4 span {
  @include media-breakpoint-up(lg) {
    display: block;
  }
}
