// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  &:hover {
    padding: $padding-y $padding-x;
  }
}

// 1rem maps to 10px now for easy maths.
@mixin fontSize($size) {
  // Ensure smallest size is never below 1.4rem
  $smallSize: ($size - ($size * 0.4));
  @if $smallSize < 14 {
    $smallSize: 14;
  }
  font-size: ($size * 1px);
  font-size: clamp(
    ($smallSize / 10) * 1rem,
    ($size / 10) * 1vw,
    ($size / 10) * 1rem
  );
}

@mixin underlineHeader() {
  display: inline-flex;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 1.2em;
  &::after {
    content: '';
    display: inline-block;
    height: 0.1rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -0.4em;
    background: $color__black;
  }
  &.text-light::after {
    background: $color__white;
  }
  + .bmcb-blurb__image-wrapper {
    margin-top: 4rem;
  }
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clearfix
@mixin clearfix() {
  content: '';
  display: table;
  table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
  width: map-get($columns, $numberColumns) -
    (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

// Equal-Width grid-column generator
@mixin grid-cols($numberColumns: 6) {
  grid-template-columns: repeat($numberColumns, 1fr);
}

@import 'breakpoints';
@import 'utilities';
