.site-footer {
  text-align: center;
  .container {
    padding: 3rem;
  }
  .footer__copyright p {
    display: block;
    font-size: 1.6rem;
    color: #75767a;
    margin-bottom: 0;
    a {
      &,
      &:hover {
        color: $color__text-main;
      }
    }
  }
  .bmcb-text__title {
    text-transform: uppercase;
  }
  strong {
    color: $color__primary;
  }
  .menu,
  .menu-item a,
  a {
    color: white;
  }
  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    .menu-item {
      list-style: none;
      padding: 0;
      margin: 0;
      + .menu-item {
        margin-top: 0.5rem;
      }
      a {
        text-decoration: underline;
      }
      &::before {
        display: none;
        content: unset;
      }
    }
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
  @include media-breakpoint-up(md) {
    text-align: unset;
  }
}
