// #main-content {
//   @for $i from 1 through 6 {
//     // Generate all possible equal columns within the given range
//     @if 12 % $i == 0 {
//       .flex-cols-#{$i} {
//         $colWidth: (($i / 12 * 100) * 1%);
//         justify-content: space-between;
//         > div {
//           flex: 1 1 100%;
//           margin-bottom: 4rem;
//           @include media-breakpoint-up(md) {
//             margin-bottom: 0rem;
//             flex: 1 1 #{$colWidth};
//           }
//         }
//         @for $gap from 1 through 4 {
//           &.gap-#{$gap},
//           &.col-gap-#{$gap} {
//             > div {
//               @include media-breakpoint-up(md) {
//                 max-width: calc(#{$colWidth} - #{$gap}rem);
//               }
//             }
//           }
//         }
//       }
//     }
//   }

//   .flex-cols-5 {
//     $colWidth: ((100 / 5) * 1%);
//     justify-content: space-between;
//     > div {
//       margin-bottom: 4rem;

//       flex: 1 1 100%;
//       @include media-breakpoint-up(md) {
//         flex: 1 1 50%;
//       }
//       @include media-breakpoint-up(xl) {
//         margin-bottom: 0;
//         flex: 1 1 #{$colWidth};
//       }
//     }
//     @for $gap from 1 through 4 {
//       &.gap-#{$gap},
//       &.col-gap-#{$gap} {
//         > div {
//           max-width: none;
//           @include media-breakpoint-up(md) {
//             max-width: calc(50% - #{$gap}rem);
//           }
//           @include media-breakpoint-up(xl) {
//             max-width: calc(#{$colWidth} - #{$gap}rem);
//           }
//         }
//       }
//     }
//   }
// }

#main-content {
  .grid {
    display: grid;
    > .bmcb-column {
      max-width: none;
    }
  }
  @for $i from 1 through 6 {
    // Generate all possible equal columns within the given range
    // @if 12 % $i == 0 {
    [class*='cols-'] {
      grid-template-columns: 1fr;
      @each $name, $breakpoint in $grid-breakpoints {
        @if $name == xs {
          @for $gap from 1 through 4 {
            &.gap-#{$gap},
            &.col-gap-#{$gap} {
              gap: #{$gap}rem;
            }
          }
        }
        @include media-breakpoint-up($name) {
          @for $gap from 1 through 4 {
            &.#{$name}\:gap-#{$gap},
            &.#{$name}\:col-gap-#{$gap} {
              gap: #{$gap}rem;
            }
          }
        }
      }
      @each $name, $breakpoint in $grid-breakpoints {
        @if $name == xs {
          &.cols-#{$i} {
            grid-template-columns: repeat(#{$i}, minmax(10rem, 1fr));
          }
        }
        @include media-breakpoint-up($name) {
          @for $gap from 1 through 4 {
            &.#{$name}\:cols-#{$i} {
              grid-template-columns: repeat(#{$i}, minmax(10rem, 1fr));
            }
          }
        }
      }
    }
    // }
  }
}

#page {
  .container {
    @include media-breakpoint-up(md) {
      max-width: 90%;
    }
    @include media-breakpoint-up(xl) {
      width: 90%;
      max-width: $containerWidth * 1px;
    }
  }
  .bmcb-row {
    padding-top: 5rem;
    padding-bottom: 5rem;
    @include media-breakpoint-up(lg) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
}

.container--small {
  .bmcb-row {
    max-width: 75rem;
    margin: 0 auto;
  }
}

@import 'top-header';
@import 'main-header';
@import 'top-menu';
@import 'main-menu';
@import 'page';
@import 'post';
@import 'project';
@import 'footer';
