body.sticky #main-header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  + #et-main-area {
    padding-top: 10rem;
  }
}

@media all and (min-width: 601px) {
  body.admin-bar.sticky #main-header {
    top: 4.6rem;
  }
}

@media all and (min-width: 783px) {
  body.admin-bar.sticky #main-header {
    top: 3.2rem;
  }
}

.site-logo-text {
  color: $color__white;
}

#main-header.sticky + #et-main-area {
  padding-top: 10rem;
}

#main-header {
  box-shadow: none;
  display: flex;
  align-items: center;
  .container {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    @include media-breakpoint-up(lg) {
      padding: 2rem 1.5rem;
    }
  }
  .et_menu_container {
    display: flex;
    align-items: center;
  }
  .logo_container {
    flex: 1 1 auto;
    a,
    img {
      display: block;
    }
    a:hover {
      filter: unset;
    }
  }
}

.header-actions {
  margin: 0 2rem;
  a span {
    font-weight: bold;
    color: $color__black;
  }
}

#main-header .logo__header {
  max-width: 20rem;
  width: 80%;
  height: auto;
  object-fit: contain;
  transform: translateY(-18%);
  @include media-breakpoint-up(lg) {
    transform: none;
  }
}

@include media-breakpoint-up(lg) {
  #main-header.sticky
    #top-menu-nav
    #main-menu
    > li.menu-item-has-children
    > a:first-child {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
