#main-nav {
  display: none;
  padding: 0;
  position: relative;
  align-items: center;
  flex: 1 1 auto;
  justify-content: flex-end;
  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

// Main header padding for larger screen
#main-menu > li > a {
  @include media-breakpoint-up(lg) {
    padding: 4rem 2rem;
  }
}

.main-menu-nav {
  margin: 0;
  list-style: none;
  padding: 0;
  // @include media-breakpoint-up(lg) {
  //   display: flex;
  //   align-items: center;
  // }
  // Top level
  > li {
    position: relative;
    > a {
      padding: 1rem 2rem;
    }
  }
  // All other levels
  li {
    a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
      color: $color__white;
      display: block;
      padding: 0.5rem 2rem;
      font-weight: 600;
      @include media-breakpoint-up(lg) {
        font-size: 1.4rem;
      }
    }
    &.menu-item-has-children {
      > a:first-child {
        padding-right: 1rem;
        font-weight: bold;
        &::after {
          position: unset;
          padding-left: 0.6rem;
          top: 0;
          right: 0;
          font-family: 'Font Awesome 5 Free';
          font-size: 1.6rem;
          font-weight: 900;
          color: $color__white;
          content: '\f0d7';
        }
      }
      .sub-menu {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        max-width: 300px;

        &.is-visible {
          display: block;
        }
        > li {
          padding-left: 2.3rem;
          white-space: nowrap;
          a {
            font-weight: normal;
            font-family: $font__main;
          }
          &.menu-item-has-children > a:first-child {
            font-family: $font__heading;
          }
          // @include media-breakpoint-up(lg) {
          //   padding-left: 0;
          // }
        }
        // li a:hover {
        //   background: $color__black;
        // }
      }
      // @include media-breakpoint-up(lg) {
      //   &:hover {
      //     .sub-menu {
      //       display: block;
      //       position: absolute;
      //       z-index: 1000;
      //       min-width: 100%;
      //       background: $color__black;
      //       top: 100%;
      //       left: 0;
      //       .sub-menu {
      //         left: 100%;
      //         top: 0;
      //       }
      //     }
      //   }
      // }
    }
  }
}

.mobile-menu {
  background: $color__quaternary;
  height: 100vh;
  width: 300px;
  position: fixed;
  z-index: 1000;
  display: none;
  right: -300px;
  padding: 6rem 2rem;
  .langswitch {
    position: absolute;
    top: 15px;
  }

  #main-nav {
    justify-content: flex-start;
    margin-bottom: 2rem;
    display: block;
    li a {
      display: block;
      padding: 0.5rem;
    }
  }
}

#menu-toggle {
  position: relative;
  z-index: 1001;
  background: $color__primary;
  border: none;
  padding: 0.5rem;
  display: inline-block;
  color: $color__white;
  border-radius: 0;
  &:focus {
    outline: 1px solid $color__white;
  }
  .icon-menu-toggle {
    display: inline-block;
    fill: currentColor;
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
    position: relative; /* Align more nicely with capital letters */
  }
  .svg-menu-toggle {
    .line {
      opacity: 1;
      transform: rotate(0) translateY(0) translateX(0);
      transform-origin: 1em 1em;
      transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    }
    .line-1 {
      transform-origin: 0.5rem 3.5rem;
    }
    .line-3 {
      transform-origin: 1.5rem 6.5rem;
    }
  }
}

.mobile-menu-is-visible {
  #menu-toggle {
    position: fixed;
    right: 2rem;
    top: 2rem;
    .svg-menu-toggle {
      .line-1 {
        transform: rotate(45deg) translateY(0) translateX(0);
      }
      .line-2 {
        opacity: 0;
      }
      .line-3 {
        transform: rotate(-45deg) translateY(0em) translateX(0em);
      }
    }
  }
  .mobile-menu {
    display: block;
    top: 0;
    right: 0;
  }
}

.admin-bar.mobile-menu-is-visible:not(.sticky) .mobile-menu {
  top: 46px;
}
