.sticky #page {
  padding-top: 7.3rem;
  @include media-breakpoint-up(lg) {
    padding-top: 7.3rem;
  }
}

/* Add large top spacing between multiple modules that start with headings */
// body:not(.home) {
//   .bmcb-module:not(.heading-space-0) h2:first-child {
//     margin-top: 4rem;
//   }
// }

/* Reduce space for the headings if there is a hr module preceeding them */
// body:not(.home) {
//   .bmcb-hr-module
//     + .bmcb-row
//     .bmcb-module:not(.heading-space-0)
//     h2:first-child {
//     margin-top: 1rem;
//   }
// }

.page-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(90deg, rgba(black, 0.6), transparent);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .bmcb-heading {
    margin: 0;
  }
  .bmcb-heading__title {
    @include fontSize(55);
    text-transform: uppercase;
    font-weight: bold;
  }
  @include media-breakpoint-up(lg) {
    min-height: 21.5rem;
  }
}

// .page-banner__title {
//   color: white;
//   font-size: 12rem;
//   flex-grow: 1;
//   padding-bottom: 2rem;
// }

// .page-banner__sub-title {
//   color: white;
//   font-family: $font__main;
//   font-size: 9rem;
// }
