#top-menu {
  margin: 0;
  list-style: none;
  padding: 0;
  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
  }
  & > li {
    position: relative;
    > a {
      // Direct A children
      font-size: 1.6rem;
      padding: 1rem 1.5rem;
    }
    // All other nested A
    a {
      font-family: $font__main;
    }
  }
}
