#top-header {
  background-color: $color__quaternary;
  display: none;
  justify-content: space;
  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
  }
  .container {
    padding: 0;
    display: flex;
    align-items: center;
  }
  @for $i from 1 through 6 {
    li:nth-child(#{$i}) {
      $division: ($i * 1) / 50;
      background: rgba(white, $division);
    }
  }
}

.company-phone {
  white-space: nowrap;
  .fas {
    padding-right: 0.6rem;
  }
}
