// This is the grid from [list-posts] shortcode
.article-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  grid-auto-rows: max-content;
  gap: 2rem;
  transition: opacity 0.6s;
  &.is-loading {
    opacity: 0.4;
  }
}

.article-grid__article {
  display: flex;
  flex-direction: column;
}

.article-grid__date {
  font-size: 1.5rem;
}

.article-grid__title-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .terms-list {
    overflow-x: auto;
    padding: 2rem 0 3rem;
    opacity: 0;
    width: 100%;
    margin: 0;
    justify-content: space-evenly;
    .terms-list__term {
      padding: 0.5rem 0.6rem;
      border-radius: $global_radius;
      border: 2px solid $color__primary;
      cursor: pointer;
      &.is-active {
        border-color: transparent;
        transition: background 0.5s;
        background: $color__primary;
        pointer-events: none;
      }
      + .terms-list__term {
        margin-left: 0.6rem;
        @include media-breakpoint-up(lg) {
          margin-left: 1.2rem;
        }
      }
      @include media-breakpoint-up(sm) {
        padding: 0.5rem 1.4rem;
      }
    }
    @media all and (min-width: 520px) {
      padding: 1.6rem 0 3rem;
      margin: 0 0 0 auto;
      justify-content: flex-end;
      width: auto;
    }
  }
  @include media-breakpoint-up(lg) {
    margin: 0 0 2rem;
  }
}

.article-grid__title {
  // font-family: $font__h;
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 1.3;
  margin-bottom: 1.4rem;
  color: inherit;
  a {
    color: inherit;
  }
  @include media-breakpoint-up(lg) {
    max-width: 80%;
  }
}

.article-grid__excerpt {
  flex-grow: 1;
  margin-bottom: 2rem;
}

.article-grid__icon-link i {
  display: inline-block;
  padding: 0;
  line-height: 1;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: $color__quaternary;
  font-size: 2rem;
}

.article-grid__image-wrapper {
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  margin-bottom: 3rem;
  img {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: $global_radius;
    object-fit: cover;
  }
}
