.bmcb-blurb {
  &.header-inline {
    .bmcb-blurb__title {
      margin-bottom: 2rem;
      text-align: center;
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
        text-align: left;
      }
    }
    .bmcb-blurb__content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .bmcb-blurb__button-wrapper {
      .btn {
        display: block;
      }
      @include media-breakpoint-up(lg) {
        margin-left: 2rem;
      }
    }
  }

  &.push-button {
    .bmcb-blurb__button-wrapper {
      margin-left: auto;
    }
  }
}

.specialise-blurb {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  .bmcb-blurb__title {
    font-family: $font__main;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 1.2;
    @include media-breakpoint-up(md) {
      font-size: clamp(1.4rem, 1.4vw, 2.2rem);
    }
  }
  .bmcb-blurb__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .bmcb-blurb__description {
    margin: 1rem 0;
    flex-grow: 1;
    @include media-breakpoint-up(md) {
      font-size: clamp(1.2rem, 1.2vw, 1.8rem);
    }
  }
  .bmcb-blurb__image-wrapper {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 20rem;
    margin: 0 auto 3rem;
    svg {
      width: 50%;
    }
    &::before {
      content: '';
      padding-bottom: 100%;
      display: block;
    }
    @include media-breakpoint-up(lg) {
      max-width: unset;
    }
  }
  .bmcb-blurb__button-wrapper {
    .btn {
      justify-content: center;
      @extend .btn--has-underline;
      @extend .btn--has-arrow;
      &,
      &:hover {
        background: none;
        color: $color__link;
        padding: 0 0 0.5rem;
      }
    }
  }

  &.bg-black,
  &.bg-tertiary {
    &,
    &:hover {
      background: none;
    }
  }

  &.bg-black {
    .bmcb-blurb__image-wrapper {
      color: white;
      background: $color__black;
    }
  }
  &.bg-tertiary {
    .bmcb-blurb__image-wrapper {
      background: $color__tertiary;
    }
  }
}

.icon-blurb {
  text-align: center;
  .bmcb-blurb__title {
    font-family: $font__main;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.2;
  }
  .bmcb-blurb__image-wrapper {
    width: 10rem;
    height: 10rem;
    margin: 0 auto 2rem;
    background: $color__tertiary;
    border-radius: 50%;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.blurb-image--rounded {
  img {
    border-radius: $global_radius;
  }
}
