.breadcrumbs {
  font-size: 1.4rem;
  span {
    position: relative;
    display: inline-block;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: $color__text-main;
      position: absolute;
      bottom: 0;
    }
  }
  .separator {
    padding: 0 0.6rem 0 0.3rem;
  }
}
