.loadmore-button {
  @extend .btn;
  width: fit-content;
  margin: 0 auto;
  transition: opacity 0.4s;
  &.is-loading {
    opacity: 0.4;
  }
  &.disabled {
    background: $color__lightgray;
    color: $color__black;
    pointer-events: none;
    display: none;
  }
}
