// Basic WP Pagination component
.pagination,
.woocommerce-pagination {
  font-family: $font__heading;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .prev,
  .next {
    color: $color__primary;
    font-size: 1.8rem;
    padding: 0.8rem 2rem;
    border: 2px solid $color__primary;
    border-radius: 3rem;
  }
  .page-numbers:not(.next):not(.prev):not(.dots) {
    line-height: 1;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .current {
    background: $color__primary;
    border-radius: 50%;
    color: white;
  }
  .prev {
    margin-right: 1.5rem;
  }
  .next {
    margin-left: 1.5rem;
  }
}
