.homepage-slider {
  .n2-ss-layers-container {
    // max-width: 90% !important;
    @include media-breakpoint-up(xl) {
      max-width: $containerWidth * 1px !important;
      width: 90% !important;
      margin: 0 auto !important;
      padding: 0 1.5rem !important;
      box-sizing: border-box !important;
    }
  }
}

/* Testi Slider */
.testimonial-slider {
  position: relative;
  color: #46606a;
  text-align: center;
}

.testimonial-slider__slide {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-slider__slide .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.testimonial-slider__content-box {
  position: relative;
  flex-basis: 100%;
  padding: 0 2rem 2rem;
  margin: 0 auto;
  border-radius: 30px;
  font-size: 2rem;
  max-width: 90rem;
  @include media-breakpoint-up(lg) {
    margin: 0;
    padding: 4rem;
  }
}

.testimonial-slider__slide.is-wide .testimonial-slider__content-box {
  @include media-breakpoint-up(lg) {
    flex-basis: 75%;
  }
}

.testimonial-slider__slide.is-full .testimonial-slider__content-box {
  @include media-breakpoint-up(lg) {
    flex-basis: 100%;
  }
}

.testimonial-slider__body {
  font-size: 2rem;
}

.testimonial-slider__navigation {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.slider__arrow-group {
  display: flex;
  align-items: center;
  width: 100%;
  .slider__arrow {
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    z-index: 1000;
    cursor: pointer;
    & + .slider__arrow {
      margin-left: 1.6rem;
    }
    &.arrow-left {
      left: 2rem;
    }
    &.arrow-right {
      right: 2rem;
    }
  }
}

.is-hidden {
  opacity: 0 !important;
}

div#page {
  .n2-ss-control-bullet[data-position='below'] {
    margin-top: 0px;
    visibility: visible;
    max-width: 1280px;
    .nextend-bullet-bar {
      max-width: 1260px;
      margin: 0px auto;
      display: flex;
      justify-content: center;
      padding: 1rem 0;
      @include media-breakpoint-up(lg) {
        padding: 2rem 0;
        position: absolute;
        right: 0;
        margin-bottom: -5.8rem;
        justify-content: flex-end;
      }
    }
  }
}

/* our work */

#page {
  .our-work-slider {
    .caption-row {
      top: unset !important;
      bottom: 0 !important;
      [class*='inner'] {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
    div#n2-ss-5 .caption-text p {
      @include fontSize(22);
    }
  }
}

/* Project Slider */
.project-slider {
  margin: 0;
  position: relative;
  &__image {
    width: 100%;
    object-fit: cover;
    max-height: 80rem;
  }
  &__navigation-dots {
    display: flex;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
    z-index: 100;
    margin: 0;
    right: 0;
    top: 100%;
    @include media-breakpoint-up(lg) {
      margin-bottom: -2.7rem;
    }
    li {
      margin: 0 0.5rem;
      padding: 0;
      &::before {
        position: unset;
        font-size: 1rem;
        color: #b6b6b6;
      }
      &.is-active::before {
        color: $color__primary;
      }
    }
  }
}
